*{
 margin: 0;
 padding: 0;
}
body{
   position: relative;
   overflow: hidden;
}
.landing{
  height: 100vh;
  background: #859dd3;
}
.landing h1{
  font-size: 35px;
  color: #2f2e41;
  margin-left: 60px;
  padding-top: 30px;
  padding-left: 15px;
  font-family: 'Handlee', cursive;
  border-left: 5px solid #2f2e41;
}
.content{
  position: aboslute;
  top: 180px;
  left: 60px;
}
.content h2{
  margin-left: 30px;
  font-size: 55px;
  color: #2f2e41;
  font-family: 'Handlee', cursive;
}
.content h2 span{
  color: #f7654b;
  opacity: 0.9;
  text-shadow: 0 5px 7px #565354;
  font-family: 'Handlee', cursive;
}
.content p{
  margin-left: 25px;
  margin-top: 90px;
  font-size: 25px;
  font-weight:600;
  color: #2f2e41;
  margin-bottom: 100px;
  font-family: 'Handlee', cursive;
}
.content a{
  margin-left: 25px;
  color: #f7654b;
  background: #2f2e41;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.04em;
  box-shadow: 0 10px 20px #565354;
  transition: .5s linear all;
}
.content a:hover{
  color: #2f2e41;
  background: #f7654b;
}
.second{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 37%;
}
